* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: linear-gradient(to right,rgb(117, 207, 243),rgb(236, 217, 217));
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}
.mainbar {
    width: 100%;
    height: 3.5rem;
    font-family: 'Yeon Sung', cursive;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.267);
    background-color: rgba(255, 248, 220, 0.404);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: 18px;
}
.logo {
    flex:1;
    margin: 0rem 5rem 0rem 3rem; 
}
.homebar {
    flex:4;
    margin: 0rem 5rem 0rem 15rem;
}
.homebar-btn {
    flex: 1;
    margin: 0% 1rem 0% 5rem;
}
.homebar-icon {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.homebar-icon li a, .homebar-signin li a {
    padding: 1.2rem;
    text-decoration: none;
    color: black;
    overflow: hidden;
    transition: .5s;
}
.homebar-icon li a:hover, .homebar-signin li a:hover {
    background-color: orangered;
    cursor: pointer;
    color: cornsilk;
    transition: .5s;
}
.homebar-signin {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
/* Home Page Content*/
.home-content {
    font-family: 'Audiowide', cursive;
    width: 100%;
    height: 100vh;
}
.home-content-head {
    width: 100%;
    height:25vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.home-content-head h1 {
    color:white;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom:0px;
    font-family: 'Audiowide', cursive;
    text-align: center;
}
.home-content-head h1 span {
    font-weight: none;
    color:black;
    font-size: 30px;
}
.home-content-tag {
    text-align:center;
    margin-top: -25px;
    margin-bottom: 30px;
    padding:0;
    font-size: 15px;
    font-style: italic;
    color: white;
}
.home-content-head h2 {
    color:black;
    font-weight: lighter;
    font-size: 20px;
    margin: 0 auto;
    width: 50%;
    font-family: 'Langar', cursive;
    text-align: center;
}
.home-itmes {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: center;
}
.home-itmes-one {
    flex:1;
    text-align: center;
}
.home-itmes-two {
    flex:1;
    text-align: center;
}
.home-itmes-three {
    flex:1;
    text-align: center;
}
.home-itmes-four {
    flex:1;
    text-align: center;
}
.home-items-btn {
    font-family: 'Langar', cursive;
    background-color: transparent;
    text-decoration: none;
    color: black;
    border: rgba(128, 128, 128, 0.404) solid 1px;
    border-radius: 15px;
    padding: 8px 30px;
    transition: 0.5s ease;
    margin: 5px;
    font-size: 15px;
}
.home-items-btn:hover {
    cursor: pointer;
    background-color: white;
    color:rgb(148, 225, 255);
    border-radius:15px;
    margin: 5px;
    font-size: 15px;
}
.home-itmes-arrow {
    padding: 15px 0px;
    margin: 5px 0px;
    transition: 0.5s ease;
}
.home-itmes-arrow:hover {
    padding: 20px 0px;
    color: white;
}
.home-items-img {
    width: 15vw;
    height: 30vh;
    padding-bottom: 20px;
    align-items: center;
}

/* Portfolio */
.aboutme-container {
    width: 100%;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.aboutme-main-container {
    position: fixed;
    width: 90vw;
    height: 80vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 1rem;
}
::-webkit-scrollbar {
    display: none;
}
.aboutme-main-container:hover {
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.aboutme {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.aboutme-content {
    margin: auto;
    flex: 1;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutme-scroll {
    background-image: url('./Background/aboutmeC.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    flex:1;
    width:100%;
    height:100%;
    background-color: green;
}
.aboutme-para {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    padding: 5rem;
}

.whatido {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.whatido-scroll {
    flex:1;
    background-image: url('./Background/aboutmeC.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    width:45vw;
    height:80vh;
    background-color: green;
}
.whatido-content {
    flex: 1;
    width: 45vw;
    height: 80vh;
    background-color: transparent;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whatido-para {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.slides {
    width:100%;
    height: 100%;
    position: relative;
}
.radio-btn {
    margin: 2rem 0rem 0rem 0rem;
    text-align: center;
}
.radiobtn:hover {
    cursor: pointer;
}
.slider-containermain {
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.slideimg {
    width:45vw;
    height: 60vh;
    margin-bottom: 2rem;
    text-align: center;
    transition: .5s;
    position: absolute;
}
.slideimg:hover {
    cursor: pointer;
}
#img1 {
    z-index: 1;
}

#img2 {
    z-index: 1;
}
#img3 {
    z-index:1;
}
#img4 {
    z-index:1;
}

.slider-container-description h1 {
    font-family: 'Lobster', cursive;
    background-color: rgb(240, 184, 193);
    width: 160px;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 40%;
}

#work1, #work2, #work3, #work4 {
    z-index: 1;
}

.slider-arrows {
    position: relative;
    top: -45%;
    z-index: 100;
    background-color: transparent;
}
.slider-arrows svg {
    background-color: rgba(255, 255, 255, 0.315) ;
    color:rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    transition: .5s;
}
.slider-arrows svg:hover {
    background-color: white;
    color:rgb(15, 15, 15);
    cursor:pointer;
}

#arrowleft {
    position: absolute;
    left: 5%;
}
#arrowright {
    position: absolute;
    right: 5%;
}

.whatilearn {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whatilearn-content {
    margin: 0px;
    padding: 0px;
    flex: 1;
    width: 45vw;
    height: 80vh;
    background-color: transparent;
    text-align: center;
}
.progressbar-container {
    background-color: transparent;
    position: relative;
    text-align: left;
    padding: 10%;
}
.progressbar-container h2 {
    font-family: 'Lobster', cursive;
    margin-bottom: 10px;
    margin-left: 10px;
}
.progressbar {
    height: 25px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 8%;
    background-color: rgba(128, 128, 128, 0.589);
    box-shadow: 2px 2px 10px rgba(233, 229, 229, 0.733),
                -2px -2px 10px rgba(233,229,229,0.733),
                -2px 2px 10px rgba(233,229,229,0.733),
                2px -2px 10px rgba(233,229,229,0.733);
}
.progress {
    height: 25px;
    width: 80%;
    border-radius: 20px;
    background-image: linear-gradient(45deg, rgb(236, 203, 208), rgb(247, 94, 120));
    font-family: 'Lobster', cursive;
}
.progress p {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    color: black;
}
.whatilearn-scroll {
    background-image: url('./Background/aboutmeC.png');
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    flex:1;
    width:45vw;
    height:80vh;
}
.contactme {
    width: 90vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactme-scroll {
    background-image: url('./Background/aboutmeC.png');
    background-position: left;
    background-attachment: fixed;
    background-size: cover;
    margin:0;
    padding:0;
    flex:1;
    width:45vw;
    height:80vh;
}
.contactme-content {
    flex:1;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    width: 45vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contactmeinform {
    margin: 0% 0%;
    width: 60%;
    height: 30vh;
    padding: 5% 5% 10% 10%;
    font-family: 'Lobster', cursive;
    font-size: 15px;
    transition: 0.5s ease;
}
.contactmeinform:hover, .contactmeresume:hover {
    background-color: white;
    box-shadow: 2px 2px 10px rgba(240, 184, 184, 0.733),
                -2px -2px 10px rgba(240, 184, 184, 0.733),
                -2px 2px 10px rgba(240, 184, 184, 0.733),
                2px -2px 10px rgba(240, 184, 184, 0.733);
    cursor: pointer;
}
.contactmeinform input {
    border: none;
    margin: 20px 0px 5px 0px;
    width: 15%;
    height: 20px;
    outline: none;
    transition: width 1s ease;
}
.contactmeinform input:focus {
    width: 80%;
    border-bottom:rgb(247, 94, 120) solid 0.5px;
}
.contactmeinform textarea {
    border: solid grey 0.5px;;
    margin: 5px 0px;
    width: 50%;
    outline: none;
    transition: width 1s ease;
}
.contactmeinform textarea:focus {
    width: 80%;
}
.contactbtn {
    width: 30%;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: rgb(235, 122, 140);
    box-shadow: 2px 2px 10px rgba(240, 184, 184, 0.733),
                -2px -2px 10px rgba(240, 184, 184, 0.733),
                -2px 2px 10px rgba(240, 184, 184, 0.733),
                2px -2px 10px rgba(240, 184, 184, 0.733);
    transition: 0.5s;
}
.contactbtn:hover {
    background-color: white;
    box-shadow: 2px 2px 10px rgba(240, 184, 184, 0.733),
                -2px -2px 10px rgba(240, 184, 184, 0.733),
                -2px 2px 10px rgba(240, 184, 184, 0.733),
                2px -2px 10px rgba(240, 184, 184, 0.733);
    color:rgb(236, 85, 110);
    cursor: pointer;
    border-radius: 50px;
}
.contactmedia {
    width:100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(30%,-220%);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contactmedia img {
    width: 40px;
    height: 40px;
    margin: 15px auto;
    border-radius: 100%;
    box-shadow: 2px 2px 10px rgba(235, 198, 198, 0.87),
                -2px -2px 10px rgba(240, 211, 211, 0.733),
                -2px 2px 10px rgba(243, 207, 207, 0.733),
                2px -2px 10px rgba(236, 188, 188, 0.733);
}
.contactmeresume {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 30vh;
    transition: 0.5s ease;
    margin: 1%;
    padding: 0.5% 2% 0.5% 3%;
}
.contactmeresume img {
    width: 20vw;
    height: 22vh;
    transition: 0.5s ease;
    margin-right: 20px;
}
.contactmeresume button {
    height: 35px;
}

/* Copy Right */ 

.copyright {
    position: absolute;
    bottom: 3%;
    right: 5%;
}

/* Services Section */

.service-heading {
    padding: 2% 10% 1% 10%;
    text-align: center;
    font-family: 'Audiowide', cursive;
    transition: 0.5s ease;
}
.service-heading:hover {
    color:whitesmoke;
    transition: 0.5s ease;
}
.service-container {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px 50px;
    padding: 4%;
}
.servicemain {
    background-color: transparent;
    height: 45vh;
    padding: 8% 5% 0% 5%; 
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: 0.5s ease;
}
.servicemain:hover {
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 50px/20px;
}
.service {
    height: 35vh;
    text-align: center;  
    margin:0px;
}
.serviceimg {
    width: 14vw;
    height: 15vh;
    margin-bottom: 10px;
    border-radius: 50px/20px;
}
.servicehead {
    font-family: 'Lobster', cursive;
    font-size: 15px;
    margin-bottom: 10px;
}
.servicepara {
    width: 12vw;
    font-family: 'Indie Flower', cursive;
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}
.servicebtn {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 20px/10px;
    border: none;
    font-weight: bold;
    background-color: rgba(69, 109, 241, 0.699);
    transition: 0.5s;
}
.servicebtn:hover {
    background-color: white;
    border-radius: 20px/10px;
    box-shadow: 2px 2px 8px rgba(157, 177, 243, 0.699),
                -2px -2px 8px rgba(156, 176, 240, 0.699),
                -2px 2px 8px rgba(119, 146, 235, 0.699),
                2px -2px 8px rgba(180, 195, 245, 0.699);
    color:rgb(236, 85, 110);
    cursor: pointer;
}

.service-hidden {
    position:fixed;
    background-color: blanchedalmond;
    width: 0%;
    height: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    visibility:hidden;
    opacity:0;
    z-index: 10;
    transition: 1.0s ease;
}

/* About Page */

.about-page {
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutcontent {
    height: 100%;
    flex:1;
}
.aboutdescribe {
    height: 100%;
}
.aboutdescribe p {
    padding: 10% 0%;
    width: 70%;
    font-family: 'Indie Flower', cursive;
    font-weight:bold;
    margin: auto;
    font-size: 30px;
}
.abouttitle {
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    width: 10rem;
    padding: 1.5%;
    margin: 2% auto;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: transparent;
    box-shadow: 2px 2px 2px rgba(240, 224, 224, 0.952),
                -2px -2px 2px rgba(240, 223, 223, 0.945),
                -2px 2px 2px rgba(245, 225, 225, 0.966),
                2px -2px 2px rgba(233, 218, 218, 0.952);
    transition: 0.3s ease-in-out;
}
.abouttitle:hover {
    cursor:pointer;
    background-color: #ffffff;
    color: rgb(148, 225, 255);
    border: none;
    box-shadow: 2px 2px 2px rgb(148, 225, 255),
                -2px -2px 2px rgb(148, 225, 255),
                -2px 2px 2px rgb(148, 225, 255),
                2px -2px 2px rgb(148, 225, 255);
}
.aboutimage {
    height: 100%;
    flex:1;
    text-align: center;
}
.aboutimage img {
    width: 35vw;
    height: 55vh;
    margin: 15% auto;
    background-color: transparent;
    opacity: 0.8;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: 0.5s ease;
    border: rgba(128, 128, 128, 0.589) solid 0.5px;
}

.aboutimage img:hover {
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(240, 184, 184, 0.733),
                -2px -2px 8px rgba(240, 184, 184, 0.733),
                -2px 2px 8px rgba(240, 184, 184, 0.733),
                2px -2px 8px rgba(240, 184, 184, 0.733);
}
